<!-- templates/funcionarios/ranking.html -->
{% extends 'base.html' %}
{% load static %}

{% block addtitle %}<title>Ranking INSS</title>{% endblock %}

{% block addcss_extra %}
<link rel="stylesheet" href="{% static '/siape/ranking.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    console.log("{{ item.percentual_conf }}");
</script>
{% endblock %}

{% block content %}
<header>
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round">
                <i class="fas fa-sun"></i>
                <i class="fas fa-moon"></i>
            </div>
        </label>
    </div>
    <h2 class="ranking-title">
        RANKING SIAPE
    </h2>
    <div class="container__cards">
        <div class="card meta-geral">
            <div class="icon">
                <i class="fas fa-chart-line"></i>
            </div>
            <div class="info__valores">
                <h3 class="title">Meta Geral</h3>
                <h5 class="valor">{{ meta_geral.valor_total }}</h5>
                <span class="percentual">
                    <p class="porcentagem">{{ meta_geral.percentual }}%</p>
                    <p class="txt"> da Meta</p>
                </span>
            </div>
        </div>
        <div class="card meta-siape">
            <div class="icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="info__valores">
                <h3 class="title">Meta SIAPE</h3>
                <h5 class="valor">{{ meta_siape.valor_total }}</h5>
                <span class="percentual">
                    <p class="porcentagem">{{ meta_siape.percentual }}%</p>
                    <p class="txt"> da Meta</p>
                </span>
            </div>
        </div>
    </div>
    
</header>
<section>
    <div class="container__ranking">
        <div class="container__top3 container">
            <div class="top4 box__ranking">
                <div class="info__foto">
                    <div class="foto__pos">
                        <img src="{{ podium.3.logo|default:'/static/img/default-store.png' }}" alt="{{ podium.3.nome|default:'Posição Disponível' }}">
                        <div class="circle__position">4</div>
                    </div>
                    <div class="valor">{{ podium.3.total_fechamentos|default:"0" }}</div>
                </div>
                <div class="bar">
                    <div class="nome">{{ podium.3.nome|default:"Posição Disponível" }}</div>
                    <div class="icon"><i class="fas fa-award"></i></div>
                </div>
            </div>
            <div class="top2 box__ranking">
                <div class="info__foto">
                    <div class="foto__pos">
                        <img src="{{ podium.1.logo|default:'/static/img/default-store.png' }}" alt="{{ podium.1.nome|default:'Posição Disponível' }}">
                        <div class="circle__position">2</div>
                    </div>
                    <div class="valor">{{ podium.1.total_fechamentos|default:"0" }}</div>
                </div>
                <div class="bar">
                    <div class="nome">{{ podium.1.nome|default:"Posição Disponível" }}</div>
                    <div class="icon"><i class="fas fa-trophy"></i></div>
                </div>
            </div>
            <div class="top1 box__ranking">
                <div class="info__foto">
                    <div class="foto__pos">
                        <img src="{{ podium.0.logo|default:'/static/img/default-store.png' }}" alt="{{ podium.0.nome|default:'Posição Disponível' }}">
                        <div class="circle__position">1</div>
                    </div>
                    <div class="valor">{{ podium.0.total_fechamentos|default:"0" }}</div>
                </div>
                <div class="bar">
                    <div class="nome">{{ podium.0.nome|default:"Posição Disponível" }}</div>
                    <div class="icon"><i class="fas fa-gem"></i></div>
                </div>
            </div>
            <div class="top3 box__ranking">
                <div class="info__foto">
                    <div class="foto__pos">
                        <img src="{{ podium.2.logo|default:'/static/img/default-store.png' }}" alt="{{ podium.2.nome|default:'Posição Disponível' }}">
                        <div class="circle__position">3</div>
                    </div>
                    <div class="valor">{{ podium.2.total_fechamentos|default:"0" }}</div>
                </div>
                <div class="bar">
                    <div class="nome">{{ podium.2.nome|default:"Posição Disponível" }}</div>
                    <div class="icon"><i class="fas fa-medal"></i></div>
                </div>
            </div>
            <div class="top5 box__ranking">
                <div class="info__foto">
                    <div class="foto__pos">
                        <img src="{{ podium.4.logo|default:'/static/img/default-store.png' }}" alt="{{ podium.4.nome|default:'Posição Disponível' }}">
                        <div class="circle__position">5</div>
                    </div>
                    <div class="valor">{{ podium.4.total_fechamentos|default:"0" }}</div>
                </div>
                <div class="bar">
                    <div class="nome">{{ podium.4.nome|default:"Posição Disponível" }}</div>
                    <div class="icon"><i class="fas fa-award"></i></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block addjs_extra %}
<script src="{% static '/siape/ranking.js' %}"></script>
<script>
        console.log("{{ item.percentual_conf }}");
</script>
{% endblock %}