{% extends 'base.html' %}
{% load static %}

{% block addtitle %}<title>Cadastro de Funcionário</title>{% endblock %}

{% block addcss_extra %}
<link rel="stylesheet" href="{% static 'funcionarios/cadastro2.css' %}">
<style>
    /* Adicione isso ao seu arquivo CSS */
    .message {
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        font-size: 14px;
        color: #fff;
    }

    .message.info {
        background-color: #2196F3; /* Azul */
    }

    .message.success {
        background-color: #4CAF50; /* Verde */
    }

    .message.error {
        background-color: #f44336; /* Vermelho */
    }

    .message.warning {
        background-color: #ff9800; /* Laranja */
    }
</style>
{% endblock %}

{% block content %}
{% if mensagem %}
    <div class="message {{ mensagem|slice:':none' }}">
        {{ mensagem }}
    </div>
{% endif %}
<section class="container">

    <form method="post" enctype="multipart/form-data" onsubmit="return validarSenhas()">
        <div class="container-basic">
            <!-- Título do Formulário -->
            <div class="box">
                <h2>Novo Funcionário</h2>
            </div>
            <!-- Informações Básicas -->
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</section>

{% endblock %}
{% block addjs_extra %}
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script src="{% static 'inss/cadastro.js' %}"></script>
{% endblock %}
