{% load static %}
{% load custom_tags %}

<nav id="menu-navbar">
    <!-- Seção do Logo -->
    <div id="logo">
        <a href="{% url 'siape:ranking' %}">
            <img src="{% static 'logo-horizontal.png' %}" alt="Logo Money System">
        </a>
    </div>

    <!-- Seção do Menu de Navegação -->
    <div id="menu">
        <ul>
            {% if user.is_authenticated %}
                {% get_user_cargo user as cargo %}

                {% if cargo.departamento == 'ADM' or user.is_superuser %}
                    <!-- Administração: Acesso total -->
                    <li><a href="{% url 'siape:all_forms' %}">SIAPE</a></li>
                    <li><a href="{% url 'siape:ranking' %}">Ranking SIAPE</a></li>
                    <li><a href="{% url 'funcionarios:all_forms' %}">Recursos Humanos</a></li>
                    <li><a href="{% url 'inss:all_forms' %}">INSS</a></li>
                    <li><a href="{% url 'inss:ranking' %}">Ranking INSS</a></li>
                {% elif cargo.departamento == 'SIAPE' %}
                    <li><a href="{% url 'siape:all_forms' %}">SIAPE</a></li>
                    <li><a href="{% url 'siape:ranking' %}">Ranking SIAPE</a></li>
                    {% if cargo.nivel in 'SUPERVISÃO,TOTAL' %}
                        <li><a href="#">Relatórios SIAPE</a></li>
                    {% endif %}
                {% elif cargo.departamento == 'INSS' %}
                    <li><a href="{% url 'inss:all_forms' %}">INSS</a></li>
                    <li><a href="{% url 'inss:ranking' %}">Ranking INSS</a></li>
                    {% if cargo.nivel in 'SUPERVISÃO,TOTAL' %}
                        <li><a href="#">Relatórios INSS</a></li>
                    {% endif %}
                {% elif cargo.departamento == 'RH' %}
                    <li><a href="{% url 'funcionarios:all_forms' %}">Recursos Humanos</a></li>
                    {% if cargo.nivel in 'SUPERVISÃO,TOTAL' %}
                        <li><a href="#">Relatórios RH</a></li>
                    {% endif %}
                {% endif %}
            {% else %}
                <!-- Opções de menu para visitantes não autenticados -->
                <li><a href="{% url 'usuarios:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>

    <!-- Seção de Login/Logout -->
    <div id="login-logout">
        {% if user.is_authenticated %}
            <p>
                <span>{{ user.get_username }}</span>
                <a href="{% url 'usuarios:logout' %}"><i class="fas fa-sign-out-alt"></i></a>
            </p>
        {% else %}
            <p><a href="{% url 'usuarios:login' %}">Entrar</a></p>
        {% endif %}
    </div>
</nav>
