{% load static %}
{% load custom_tags %}

<nav id="menu-navbar">
    <!-- Seção do Logo -->
    <div id="logo">
        <a href="{% url 'siape:ranking' %}">
            <img src="{% static 'logo-horizontal.png' %}" alt="Logo Money System">
        </a>
    </div>

    <!-- Seção do Menu de Navegação -->
    <div id="menu">
        <ul>
            {% if user.is_authenticated %}
                {% get_user_permissions user as permissions %}

                <!-- Menu Condicional Baseado nas Permissões do Usuário -->
                {% if permissions.level == 4 %}
                    <!-- Administrador: Acesso total -->
                    <li><a href="{% url 'siape:consulta_cliente' %}">SIAPE</a></li>
                    <li><a href="{% url 'siape:ranking' %}">Ranking</a></li>
                    <li><a href="{% url 'funcionarios:all_forms' %}">Recursos Humanos</a></li>
                    <li><a href="{% url 'gerenciamento:gen_funcionarios' %}">Create</a></li>
                {% elif permissions.level == 3 %}
                    <!-- Suporte: Acesso ao ranking, SIAPE e INSS -->
                    <li><a href="{% url 'siape:ranking' %}">Ranking</a></li>
                    <li><a href="{% url 'siape:consulta_cliente' %}">SIAPE</a></li>
                    <li><a href="#">INSS</a></li>
                {% elif permissions.level == 2 and permissions.setor == 'SIAPE' %}
                    <!-- Supervisor SIAPE -->
                    <li><a href="{% url 'siape:ranking' %}">Ranking</a></li>
                    <li><a href="{% url 'siape:consulta_cliente' %}">SIAPE</a></li>
                {% elif permissions.level == 1 and permissions.setor == 'SIAPE' %}
                    <!-- Atendente SIAPE -->
                    <li><a href="{% url 'siape:ranking' %}">Ranking</a></li>
                    <li><a href="{% url 'siape:consulta_cliente' %}">SIAPE</a></li>
                {% elif permissions.level == 2 or permissions.level == 1 %}
                    <!-- Supervisores e Atendentes de outros setores -->
                    <li><a href="#">Sem Acessos</a></li>
                {% endif %}
            {% else %}
                <!-- Opções de menu para visitantes não autenticados -->
            {% endif %}
        </ul>
    </div>

    <!-- Seção de Login/Logout -->
    <div id="login-logout">
        {% if user.is_authenticated %}
            <p>
                <span>{{ user.get_username }}</span>
                <a href="{% url 'usuarios:logout' %}"><i class="fas fa-sign-out-alt"></i></a>
            </p>
        {% else %}
            <p><a href="{% url 'usuarios:login' %}">Entrar</a></p>
        {% endif %}
    </div>
</nav>
